.bgOrange {
    font-weight: bold;
    background-color: orange !important;
}

.bgLiteGreen {
    font-weight: bold;
    background-color: #ACED8F;
}

.bgCoral {
    font-weight: bold;
    background-color: #f95f62;
}